#button {
    color: white;
    background-color:rgba(0,183,255,1);
    border: none;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 200px;
    margin: 4px 2px;
}

.container {
    text-align: center;
}